:root {
    --clr-dark: #070a12;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
    --clr-lightRose: #fb7185;
    --clr-sky: #38bdf8;
  }

  body{
    background-color: var(--clr-dark);
    text-align: center;
    color: var(--clr-light);
  }

  h1{
    font-family: 'Montserrat', sans-serif;
  }


  p{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    display: inline;
  }

  #useritem{
    padding: 15px;
    border-radius: 10px;
    width: 500px;
   
  }
  
  input[placeholder]{
    font-size: 1.5rem;
  }

  #input-form{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  button{
    padding: 15px;
    color: var(--clr-light);
    border-radius: 10px;
    
    background-image: linear-gradient(to right, var(--clr-sky), var(--clr-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  button:hover{
    opacity: 0.3;
    cursor: pointer;
    background-color: var(--clr-sky);
  }

  #add:hover{
    background-color: var(--clr-sky);
  }

  #delete{
    background-image: linear-gradient(to right, var(--clr-lightRose), var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



.elementslist{
    margin-top: 50px;
    padding: 1.5rem;
}

.itemdiv{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--clr-sky);
    border-radius: 10px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}




